<%-include('header')-%>

<div class="container border py-5 rounded-3 " style="margin-top: 40px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div>
                <p class="text-dark-50 mb-5">Add New User</p>

                <form action="/addUser" method="post" style="padding-top: 1px; padding-left: 1px;">
                    <div class="form-outline form-white mb-4">
                        <input type="text" name="name" placeholder="Enter name..." class="form-control form-control-lg" required />
                    </div>
                
                    <div class="form-outline form-white mb-4">
                        <input type="email" name="email" placeholder="Enter email..." class="form-control form-control-lg" required />
                    </div>
                
                    <div class="form-outline form-white mb-4">
                        <input type="password" name="password" placeholder="Enter password..." class="form-control form-control-lg" required />
                    </div>
                
                    <button class="btn btn-success btn-lg px-5" type="submit">Add User</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

<%-include('footer')-%>