<%-include('header')-%>

<div class="text-center center-div mt-5"  id="login" >
    <div class="container w-25 border py-5 mt-5" >
       <form action="/logout" method="get">
        <h3>Welcome...! <br>  It's Your Personal Space...!</h3>
        <button id="logout-btn" type="submit">Log Out</button>
       </form>
    </div>
</div>

<%-include('footer')-%>